Django==3.0.4
django-environ==0.4.5
django-material>=1.6.3,<2.0.0
django-material-admin>=1.6.44,<2.0.0
psycopg2-binary==2.8.4

Pillow==7.0.0

django-spurl==0.6.6
django-admin-autocomplete-filter==0.4
