{% block header %}

{% load static %}

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="">
      <img src="{% static "images/logo.png" %}" alt="RO Help logo">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item">
        Despre site
      </a>

      <a class="navbar-item">
        Link
      </a>

      <a class="navbar-item">
        Link
      </a>

      <a class="navbar-item">
        Link
      </a>

      <a class="navbar-item">
        Link
      </a>

      </div>
    </div>

  </div>
</nav>

{% endblock header %}