body {
    font-family: 'Titillium Web';
}

.logo {
    padding: 1rem;
}

.covid-logo {
    padding: 0.5rem;
    width: 30px;
    height: 30px;
}

.footer {
    background-color: #004890;
}

.donate-title {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.container .donate-subtitle {
    font-size: 1rem;
    padding-bottom: 3rem;
}

.main-content {
    margin-top: 5rem;
}

.filter {
    margin-bottom: 1rem;
}

.filter-dropdown {
    margin: 1rem;
}

.tool {
    margin-bottom: 1rem;
}

.card {
    
    background-color: #f0f0f0;
    color: black;
}

.card-active {
    background-color: #bfd1e3;
    color: #00478f;
}

.card-content {
    padding: 1rem;
    flex-grow: 100;
}

.card-content-narrow {
    padding: 0.5rem;
}

.call-to-action {
    padding: 1rem;
}

.donation-card {
    background-color: white;
}

