body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
}

.header-wrapper {
    padding: 0 1.5rem ;
}

.border-b {
    border-bottom: 1px solid #e0e0e0;
}

.navbar-item {
    font-size: 14px;
}

.navbar-item img {
    max-height: none;
}

.developed-by {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.developed-by > span {
    display: flex;
    border-bottom: 1px solid #e5e5e5;
    padding: 0.75em 0;
}

.developed-by > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-left: 1rem;
    border-bottom: 1px solid #e5e5e5;
    min-height: 75px;
}

@media (max-width: 768px) {
    .developed-by {
        flex-direction: column;
    }

    .developed-by>div {
        justify-content: space-between;
        flex-direction: row;
        min-height: 55px;
        width: 100%;
    }
}

.developed-by-logo {
    padding-left: 0.5rem;
}

.footer {
    background-color: #004890;
}

.donate-title {
    font-size: 1.75rem;
    padding-bottom: 1rem;
}

.container .donate-subtitle {
    font-size: 1rem;
    padding-bottom: 3rem;
}

.ngo-list-title {
    font-size: 1.75em;
    color: #3D4F9F;
}

.filter-container {
    margin: 1em 0;
}

.filter {
    margin-bottom: 1rem;
}

.filter-dropdown button, .filter-dropdown button:hover {
    border: 1px solid #1C1080;
    color: #1C1080;
    font-size: 1em;

}

.tool {
    margin-bottom: 1rem;
}

.card {
    margin-bottom: 1em;
    background-color: #f0f0f0;
    color: black;
}

.card-active {
    background-color: #bfd1e3;
    color: #00478f;
}

.card-content {
    padding: 1rem;
    flex-grow: 100;
}

.card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;
    margin-right: 1em;
}

.call-to-action {
    padding: 1rem;
}

.donation-card {
    background-color: white;
    padding: 2em;
}

.detail-header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.detail-header .title {
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
    color: #3D4F9F;
}

.detail-header .subtitle {
    font-size: 16px;
    color: #000;
}

.detail-header-img {
    display: flex;
    width: 115px;
    height: auto;
    margin-right: 1.25em;
}

.detail-desc {
    margin: 2em 0;
}

.detail-desc-title {
    font-weight: bold;
    margin: 1em 0;
    color: #000000;
}

.donate-hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2em 0 0.5em 0;
}

.donate-hero-img {
    display: flex;
    min-width: 33px;
    height: 40px;
    margin-right: 1em;
}

.donate-hero .title {
    font-size: 16px;
    font-weight: bold;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    min-height: 150px;
    margin: 1em;
}

.tag-bar {
    border: 1px solid #dbdbdb;
    padding: 5px;
}

.need-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #bedcfa;
    color: #3D4F9F;
    padding: 1em;
}

.need-button {
    display: flex;
}

.need {
    flex-direction: column;
    border: 1px solid #dbdbdb;
    margin: 1em;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .02);
}

.need-logo {
    margin-right: 1em;
    width: 40px;
}

.need-title {
    font-weight: bold;
    font-size: 1.25em;
}


.need-logo-name-wrapper {
    align-items: center;
}

.need-call2action {
    margin: 1em;
}

@media (min-width: 768px) {
    .need {
        flex-direction: row;
        align-items: center;
    }

    .card-info {
        min-height: 100px;
    }

    .vr {
        height: 80%;
        border-right: 1px solid #dbdbdb;
    }

    .need-icon {
        padding: 1.5em;
        color: #000;
    }

    .need-icon img {
        height: 2em;
    }

    .need-call2action {
        margin: 2em;
    }

    .need-logo {
        border: 1px solid #dbdbdb;
        margin: 1em;
        box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .02);
        width: 100px;
    }

}
