body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
}

.logo {
    padding: 1rem;
}

.covid-logo {
    padding: 0.5rem;
    width: 30px;
    height: 30px;
}

.footer {
    background-color: #004890;
}

.donate-title {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.container .donate-subtitle {
    font-size: 1rem;
    padding-bottom: 3rem;
}

.main-content {
    margin-top: 5rem;
}

.filter {
    margin-bottom: 1rem;
}

.filter-dropdown {
    margin: 1rem;
}

.tool {
    margin-bottom: 1rem;
}

.card {
    margin-bottom: 1em;
    background-color: #f0f0f0;
    color: black;
}

.card-active {
    background-color: #bfd1e3;
    color: #00478f;
}

.card-content {
    padding: 1rem;
    flex-grow: 100;
}

.card-content-narrow {
    padding: 0.5rem;
}

.card-icon {
    width:50px;
}

.call-to-action {
    padding: 1rem;
}

.donation-card {
    background-color: white;
}


/* DETAIL PAGE */
/* header */
.detail-header {
    display:flex;
    flex-direction: row;
    align-items: flex-end;
}

.detail-header .title {
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
    color: #3D4F9F;
}

.detail-header .subtitle {
    font-size: 16px;
    color: #000;

}
.detail-header-img {
    display: flex;
    width: 115px;
    height:auto;
    margin-right: 1.25em;
}

.detail-desc {
    margin: 2em 0;
}

.detail-desc-title {
    font-weight: bold;
    margin: 1em 0;
    color: #000000;
}

/*
.hero-body {
    padding-left: 0;
    padding-right: 0;
}

.hero-body > .title {
    font-size: 32px;
    line-height: 49px;
    color: #1c1080;
    font-weight: normal;
    display: flex;
}


.hero-icon {
    display: flex;
    margin: 0 5px 0 0;
    width: 115px;
    height:auto;
}

.hero-body > .subtitle {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}



 */
